body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-container {
    display: grid;
    width: 40vw;
    min-width: 350px;
    height: 40vw;
    min-height: 350px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-style: solid;
    border-width: 3px;
}

.grid-item {
    display: flex;
    font-size: 5em;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}